//output:../index.html

extends layout.jade

block content
  .header
    .logo
      h1 Adam D Technology
  .card-wrap
    .card-bodies
      // Introduction card
      .card-body.card-body-step-1.is-showing
        .title Tech Moving Services Estimator
        p.description There are many factors to consider when moving technology. This form will give you an estimate of what it will cost to have your tech packaged, moved and re-setup with Adam D Technology.
          .text-center.controls
            .button.button-next Start

      //Computer + monitors card

      .card-body.card-body-step-2
        .title Computers & Monitors
        .description Each computer is moved as a whole unit. This includes One monitor, computer, keyboard and mouse.
        form
          label
            | Number of computers to move?
            input.field(type="number" name="computers" pattern="\d*" value='0')
          label
            | Number of extra monitors?
            input.field(type="number" name="monitors" pattern="\d*" value='0')
          .text-center.fade-in.controls
            .button.button-last Previous
            .button.button-next Next

      //Printers Card

      .card-body.card-body-step-3
        .title Printers
        .description Please tell us how many of each type of printer below you need to move.
        form
          label
            | Number of basic printers you need to move?
            input.field(type="number" name="BasicPrinters" pattern="\d*" value='0')
          label
            | Number of MFP's you need to move
            input.field(type="number" name="MFPs" pattern="\d*" value='0')
          .text-center.fade-in.controls
            .button.button-last Previous
            .button.button-next Next

      //Tv Card

      .card-body.card-body-step-4
        .title TV's
        .description Prices to move Tv's varies by size. Please tell us how many of each size you need to move. If you have no tv's to move, please click "next".
        form
          label
            | Number of Tv's less than 50"
            input.field(type="number" name="tv50" pattern="\d*" value='0')
          label
            | Number of Tv's between than 51" - 69"
            input.field(type="number" name="tv5169" pattern="\d*" value='0')
          label
            | Number of Tv's greater than 70"
            input.field(type="number" name="tv70" pattern="\d*" value='0')
          .text-center.fade-in.controls
            .button.button-last Previous
            .button.button-next Next

      //Server & Network Equiptment Card

      .card-body.card-body-step-5
        .title TV's
        .description Each server and network set up is different and there are many variables to consider. In order to get more accurate pricing, please talk to an Adam D Technology Advisor.
        form
          label
            | Number Servers to move:
            input.field(type="number" name="server" pattern="\d*" value='0')
          label
            | Do you have network equiptment to move?
            select.field(name="network")
              option(value='161.50') Yes
              option(value='0') No
          .text-center.fade-in.controls
            .button.button-last Previous
            .button.button-next#submit Get Estimate

      //End Card

      .card-body.card-body-step-6
        .title Total Estimate Price:
        .description
          #price $00.00
        .text-center.controls
          .button.button-last Go Back
          .button.button-final(onclick='showModal()') Talk To An Advisor

    .text-center
      .button.rerun-button Redo Form
  .footer
    span.is-active
    span
    span
    span
    span
    span
    .share-buttons
      p.lead Share This Form:
      a.fa.fa-facebook(href='https://www.facebook.com/sharer.php?u={url}' target='_blank')
      a.fa.fa-twitter(href='https://twitter.com/intent/tweet?url={url}&text={title}&via={via}&hashtags={hashtags}' target='_blank')
      a.fa.fa-envelope-o(href='mailto:?subject=Adam D Technology Moving Estimator&body=Calculate your tech moving costs here: http://adamdtechnology.com/moving' target='_blank')

  //modal

  .modal#modal
    .modal-body
      .close(onclick='hideModal()') X
      form.infusion-form.col-sm-6(accept-charset='UTF-8', action='https://lj322.infusionsoft.com/app/form/process/59e622ebbec85226e9a751fa5cb10341', method='POST')
        input(name='inf_form_xid', type='hidden', value='59e622ebbec85226e9a751fa5cb10341')
        input(name='inf_form_name', type='hidden', value='Moving Solutions Form')
        input(name='infusionsoft_version', type='hidden', value='1.56.0.67')
        input(name='inf_field_Email', type='hidden', value='null')
        .infusion-field.form-group
          label(for='inf_field_FirstName') First Name *
          input#inf_field_FirstName.infusion-field-input-container.form-control(name='inf_field_FirstName', type='text')
        .infusion-field.form-group
          label(for='inf_field_Phone1') Best Number To Reach You: *
          input#inf_field_Phone1.infusion-field-input-container.form-control(name='inf_field_Phone1', type='text')
        .infusion-submit
          input.button(type='submit', value='Submit')
